
/*
COLORS:
Primary Blue: 5757F2
Dark Blue: 3E3EC4
*/


/* Page Setup */

.black-text {
    color: #000 !important;
}

.white-text {
    color: white !important;
    font-weight: 600;
    padding-left: 50px;
}

nav {
    background-color: #fff !important;
    box-shadow: none !important;
    margin: 1em 0em !important;
    background: linear-gradient(90deg, #5757F2 34%, #FFFFFF 34%);
}

h4 {
    text-align: center !important;
}

.card-panel {
    cursor: pointer;    
}

body {
    background: linear-gradient(90deg, #5757F2 34%, #FFFFFF 34%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 400;
}

section {
    width: auto; 
    height: auto;
    margin: 100px 90px;
    padding: 30px;
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
}



/* Left Side */

#rank {
    position: absolute;
    top: 110px;
    left: 175px;
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

#dropZone {
    /* background-color: #4c4cd3; */
    width: 400px;
    padding:10px;
}

#num1 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1px;
    color:white;
    /* vertical-align: middle !important; */
    margin: auto;
    position: absolute;
    top: 260px;
    left: 75px;
}

#num2 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1px;
    color:white;
    font-size: 2rem;
    position: absolute;
    top: 350px;
    left: 75px;
}

#num3 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1px;
    color:white;
    font-size: 2rem;
    position: absolute;
    top: 450px;
    left: 75px;
}

#num4 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1px;
    color:white;
    font-size: 2rem;
    position: absolute;
    top: 550px;
    left: 75px;
}

#num5 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1px;
    color:white;
    font-size: 2rem;
    position: absolute;
    top: 640px;
    left: 75px;
}

#numSubmit {
    position: absolute;
    top: 770px;
    right: 125px;

    font-weight: 600;
    width: 325px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px !important;
}



/* Right Side */

#candidates {
    color: black;
    font-weight: 600;
}

.choice-container {
    display: flex !important;
    background-color: whitesmoke;
    border-radius: 5px !important;
    margin-right: 0;
}

div.choice {
    width: 325px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px !important;
}

div.padding-fix {
    width: 550px;
    padding: 10px;
    margin-right: 50px;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 5px !important;
    max-height: 680px;
}

div.choice p {
    background: white;
    height: 80px;
    border-radius: 5px !important;
}

p.hidden {
    background-color: white !important;
    color: white !important;
}

.choice-title {
    font-size: 1.25em !important;
}

#candidates {
    position: absolute;
    top: 100px;
    left: 775px;
    font-size: 2rem;
}

#candidates-change {
    position: absolute;
    top: 100px;
    left: 975px;
    font-size: 2rem;
}






.scroll {
    overflow-y: auto;
}
/* .behinder {
    z-index: -1;
} */
.behind {
    z-index: 0;
}

.above {
    z-index: 100;
}

.cand1 {
    position:absolute;
    top: 300px;
    left: 100px;
}


#candidates {
    position: absolute;
    top: 110px;
    left: 775px;
    font-size: 2rem;
}

#candidates-change {
    position: absolute;
    top: 110px;
    left: 975px;
    font-size: 2rem;
}

#candidates-change-span {
    font-weight: bold !important;
    color:#5757F2;
}

/* .cardpanel {
    transition-duration: 1000ms;
} */


/*
Misc

.padding-fix {
    height: 350px;
    padding-top: 10px !important;
     bottom: 10px; 
}

#cand1 {
    background-color: blue;
} 


body {
    width: 99% !important;
    margin: none !important;
}

.box-shadow {
    box-shadow: 5px 5px 2px 1px gray;
} 

.text { 
    padding-left: 2rem !important;
    font-size: 1.5rem !important;
}
*/

/* background-color: lightgray !important; */
/* height: 610px; */
/* box-shadow: 5px 5px 2px 1px gray; */

/* background-color: lightgray !important; */
/* text-align: center; */

